.launchProgram {
	@include bp(md-min) {
	  display: flex;
	  justify-content: flex-start;
	  flex-wrap: wrap;
	  gap: 12px;
	  flex:1;
	}
  
	.programItem {
	  width: 100%;
	  align-self: stretch;
	  margin-bottom:15px;
	  @include bp(md-min) {
	   margin-bottom:0;
	  }
	  
	  .itemInner{
	  	padding:20px;
	  }
		ul {
		  padding-left: 20px;
  
		  li {
			list-style-type: disc;
			color: $blue-color;
			margin-bottom:5px;
		  }
		}
  
	  img {
		width: 100%;
		height: auto;
		background: $grey-color;
	  }
  
	  h4 {
		margin-top: 20px;
		color: $blue-color;
	  }
  
	  h5 {
		margin: 8px 0;
  
		&:last-child {
		  margin-bottom: 0;
		}
  
		span {
		  color: $blue-color;
		}
	  }
  
	  @include bp(md-min) {
		width: calc(50% - 15px);
	  }
  
	  @include bp(lg-min) {
		width: calc(25% - 10px);
	  }
	}
  }
  

